* {
    box-sizing: border-box;
}

html {
    font-size:62.5%; /* esto me lleva a una base de 1rem 10px */
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:$m-size;
    color:$dark-gray;
    //background-color: $dark-blue;
}
button{
    cursor:pointer;
}
button:disabled{
    cursor:default;
}

.is-active {
    font-weight: bold;
}