// colors

$blue: #3c4251;
$off-black: #20222b;
$off-white:#f7f7f7;
$dark-blue: #364051;
$purple:#8357c5;
$light-blue:#464b5e;
$gray:#666;
$dark-gray: #333333;
//font size
$font-size-large:1.8rem;
$font-size-small:1.4rem;
//spaces:
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-br:45rem;
